:root {
--warna-bg: rgba(0, 0, 0, .5); 
--warna-teks: #fff;
--warna-bingkai: #fff;
--bingkai: 8px;
--bingkai-kiri: 2px solid var(--warna-bingkai);
--bingkai-kanan: 2px solid var(--warna-bingkai);
--gaya-font: 'Work Sans', sans-serif;
--gaya-font2: 'Ubuntu', sans-serif;
--gaya-font3: 'Dancing Script', sans-serif;
}
@keyframes fanim {0% {background-position: 0% 0%;}25% {background-position: 100% 100%;} 50% {background-position: 0% 100%;} 75% {background-position: 50% 50%;} 100% {background-position: 0% 0%;}}
body{background-color:#000;font-family:var(--gaya-font);padding: 20px 25px;-webkit-user-select: none; -ms-user-select: none; user-select: none;} a{text-decoration:none;}
body::before{content:"\00A9  Rayys | PalingIT";color:white;opacity:0;font-size:11px;position:fixed;bottom:25px;right:25px;z-index:2}
#bodyblur{opacity:1;position:fixed;top:0;left:0;right:0;bottom:0;background:rgba(0,0,0,.3);transition:all 1s ease;} 
#wallpaper{width:100%;height:100%;transform: scale(2);transition:all 1.3s ease;}
#beneranblur{position:fixed;top:0;left:0;right:0;bottom:0;background:rgba(0,0,0,.3);-webkit-backdrop-filter:blur(0px); backdrop-filter:blur(0px);transition:all 3s ease;}

@keyframes jj{0%  {transform: scale(1.1);} 50% {transform: scale(1.2);} 100% {transform: scale(1.1);}}
@keyframes rts{from {transform:scale(.1);} to {transform:scale(1);}}
@keyframes rto{from {transform:scale(1);} to {transform:scale(1.1);}}
@keyframes aniopa{0% {transform: scale(1);} 50% {transform: scale(.75);} 100% {transform: scale(1);}}
@keyframes rtf{from {transform: rotate(0deg);} to {transform: rotate(360deg);}} @keyframes rt{from {transform: scale(.9);/* transform: rotate(-5deg); */} to {transform: scale(1);/* transform: rotate(5deg); */}}
@keyframes kont{0%  {left:-1px; top:-3px;} 50% {left:1px; top:3px;} 100% {left:-1px; top:-3px;}}

blockquote{position:absolute;opacity:0;visibility:hidden;margin-top:100px;background:var(--warna-bg);border-radius:8px;box-shadow: rgba(255,255,255, 0.3) 0px 7px 29px 0px;transform: scale(.1);transition:all 1s ease;margin-top:120px;margin-left:0;margin-right:0;color:var(--warna-teks);text-shadow: 0px 2px 2px rgba(0, 0, 0, .8);}
blockquote{width:400px;text-align:center;line-height:1.3em;padding:10px 20px;}
blockquote::before{content: "";position: absolute;border: 1px solid #fff;border-radius:8px;top: -8px;bottom: -8px;left: -8px;right: -8px;}
blockquote p{font-size:18px;font-weight:700;line-height:1.4em;transition:all .5s ease;}
blockquote #kalimat2{font-size:16px;font-weight:400;}
blockquote #kalimatbawah{position: absolute;opacity:0;transform: scale(.3);font-family:var(--gaya-font3);font-size:22px;font-weight:700;}
  
#Tombol{position:relative;opacity:0;margin:0;display:flex;align-items:left;list-style:none;transform: scale(.1);transition:all 1s ease;}
#Tombol a{cursor:pointer;display:inline-flex;align-items:center; margin:0;margin:12px 0 12px 0;transition:all .2s ease;padding:10px;outline:0;border-right:var(--bingkai-kanan);border-left:var(--bingkai-kiri);border-radius:4px;line-height:15px;background:var(--warna-bg);color:var(--warna-teks);font-size:14px;font-weight:700;white-space:nowrap;overflow:hidden;box-shadow: rgba(255,255,255, 0.3) 0px 7px 29px 0px;z-index:1} 

#Content{animation-name:none;animation-duration: 3s;animation-iteration-count: infinite;position:relative;opacity:0;margin-top:50px;width:100%;height:180px;transition:all .7s ease;}
#Content > *{display:flex;align-items:center;text-align:center;justify-content:center;margin-top:1px;}
.kumpulanstiker > img{display:none;box-shadow: rgba(255,255,255, 0.3) 0px 7px 29px 0px;background:#fff;border-radius:8px;padding:10px;width:90px;height:90px;margin:20px 0;}
#stiker{opacity:.1;transition:all 1.2s ease;transform: scale(.1);}
#halo{font-size:18px !important;position:relative;margin:15px 0 30px 0}

#fotolove img{transition:all .5s ease;width:75px;height:75px;padding:0;background:none}
#suratin img{display:inline-flex;background:rgba(255,255,255, 0);border-radius:10%;padding:10px;width:130px;height:130px;animation:rto .7s infinite alternate;transition:all .3s ease;} 
#ket, #halo{text-shadow: 0px 2px 2px rgba(0, 0, 0, .8);font-size:17px;font-weight:700;color:white}
#ket{margin-top:15px !important;font-weight:400;}

#kolombaru{position:absolute;opacity:0;display:flex;transform:scale(.1);transition:all 1s ease;align-items:center;text-align:center;justify-content:center;}
#kolombaru > li{margin: 10px;padding: 10px;list-style-type: none;}
#kolombaru li img{display:flex;width:40px;height:40px}
#kolombaru li img:hover{transform: scale(1.15);transition:all .3s ease;}

.swal2-modal > *{font-family:var(--gaya-font2);font-size:17px;}
.swal2-title{line-height:1.3em;font-size:18px;text-align:center;padding:15px 20px 0 20px;}
.swal2-container.swal2-backdrop-show{background: rgba(0,0,0,.5);}
.swal2-timer-progress-bar-container > *{opacity:.7;background:#007BFF;margin:0 2px}
.swal2-modal{box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;max-width:320px;background:rgba(240,240,240,1);border-radius:8px;top:-80px;}

.fa-heart {opacity:.3;color:white;font-size: 27px;position: absolute;animation:  heartMove linear 1;top: -10vh;z-index: 0;}
@keyframes heartMove {0%{transform: translateY(-10vh) ;} 100%{transform: translateY(100vh) ;}}
.sembunyi, #kado2, #kado3{display:none !important}
